* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background: url("/images/bg-intro-desktop.png") hsl(0, 100%, 74%);
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
body .container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 800px;
  color: white;
}
body .container_one, body .container_two {
  margin: 0 20px;
  width: 50%;
}
body .container_one .heading {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
}
body .container_one p {
  font-size: 22px;
}
body .container_two {
  display: flex;
  flex-direction: column;
  height: 80%;
}
body .container_two .trial {
  margin: 20px 0;
  padding: 20px 0;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  font-weight: 300;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
}
body .container_two .trial span {
  font-weight: 600;
}
body .container_two .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}
body .container_two .form .inputs {
  position: relative;
  width: 100%;
}
body .container_two .form .inputs .error-icon {
  display: none;
  position: absolute;
  top: 17%;
  right: 5%;
}
body .container_two .form .inputs .error {
  padding: 0;
  margin: 5px 0 15px 0;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  text-align: right;
  font-size: 12px;
}
body .container_two .form .inputs .visible {
  display: block;
}
body .container_two .form input {
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
}
body .container_two .form .formBtn {
  cursor: pointer;
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.1);
}
body .container_two .form .formBtn:active {
  background-color: hsl(154, 59%, 70%);
}
body .container_two .form input,
body .container_two .form .formBtn {
  width: 100%;
  height: 60px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 10px;
}
body .container_two .form p {
  color: hsl(246, 25%, 77%);
  padding: 0 25px;
  font-size: 12px;
  text-align: center;
}
body .container_two .form p a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: bold;
}
body .container_two .form .invalid {
  border: 2px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

@media (max-width: 1000px) {
  body {
    background: url("/images/bg-intro-mobile.png") hsl(0, 100%, 74%);
  }
  body .container {
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }
  body .container_one, body .container_two {
    width: 90%;
  }
  body .container_one {
    text-align: center;
  }
  body .container_one .heading {
    margin-top: 80px;
    font-size: 30px;
    line-height: 36px;
  }
  body .container_one p {
    margin-bottom: 40px;
    font-size: 16px;
  }
  body .container_two .trial {
    padding: 20px 50px;
  }
  body .container_two .form {
    padding: 25px;
    height: 520px;
  }
  body .container_two .form div .error-icon {
    top: 15%;
  }
  body .container_two .form div .error {
    margin-bottom: 15px;
  }
  body .container_two .form input {
    padding-left: 15px;
    font-size: 13px;
    font-weight: 700;
  }
  body .container_two .form .formBtn {
    font-size: 14px;
    font-weight: 600;
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.1);
  }
  body .container_two .form input,
  body .container_two .form .formBtn {
    height: 50px;
    border-radius: 5px;
  }
  body .container_two .form p {
    padding: 0 15px;
    font-size: 12px;
    text-align: center;
  }
  .attribution {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */